In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Read the Excel file

import os

def read_excel_files(start_year=2004, end_year=2024, folder_path="/content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/"):
    for year in range(start_year, end_year + 1):
        # Handle mixed file extensions
        file_xlsx = os.path.join(folder_path, f"kwb-{year}.xlsx")
        file_xls = os.path.join(folder_path, f"kwb-{year}.xls")

        # Determine correct file format
        if os.path.exists(file_xlsx):
            file_path = file_xlsx
        elif os.path.exists(file_xls):
            file_path = file_xls
        else:
            print(f"File for {year} not found, skipping...")
            continue

        try:
            globals()[f"df_{year}"] = pd.read_excel(file_path)  # Create a DataFrame dynamically
            print(f"Successfully read {file_path} into df_{year}")
        except Exception as e:
            print(f"Error reading {file_path}: {e}")

# Example usage
read_excel_files()

Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2004.xlsx into df_2004
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2005.xls into df_2005
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2006.xls into df_2006
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2007.xls into df_2007
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2008.xlsx into df_2008
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2009.xls into df_2009
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2010.xls into df_2010
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2011.xls into df_2011
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2012.xls into df_2012
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2013.xls into df_2013
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2014.xls into df_2014
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2015.xlsx into df_2015
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2016.xls into df_2016
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2017.xls into df_2017
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2018.xls into df_2018
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2019.xlsx into df_2019
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2020.xlsx into df_2020
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2021.xlsx into df_2021
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2022.xlsx into df_2022
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2023.xlsx into df_2023
Successfully read /content/drive/MyDrive/LE WAGON/final project/Kerncijfers wijken en buurten/kwb-2024.xlsx into df_2024

In [ ]:
df_2012.columns.tolist()

['Code_10_pos12',
 'GWB_CODE12',
 'GWB_NAAM12_60POS',
 'GWB_NAAM12_40POS',
 'RECS',
 'GM_CODE',
 'WK_CODE',
 'BU_CODE',
 'GEM_NAAM',
 'OAD',
 'STED',
 'POSTCODE',
 'DEK_PERC',
 'AANT_INW',
 'AANT_MAN',
 'AANT_VROUW',
 'P_00_14_jr',
 'P_15_24_jr',
 'P_25_44_jr',
 'P_45_64_jr',
 'P_65_eo_jr',
 'P_N_W_AL',
 'P_TURKIJE',
 'P_MAROKKO',
 'P_SURINAM',
 'P_ANT_ARU',
 'P_OVER_NW',
 'P_WEST_AL',
 'P_EENP_HH',
 'P_HH_Z_K',
 'P_HH_M_K',
 'AANTAL_HH',
 'GEM_HH_GR',
 'P_GEHUWD',
 'P_GESCHEID',
 'P_ONGEHUWD',
 'P_VERWEDUW',
 'AUTO_TOT',
 'BEDR_AUTO',
 'MOTOR_2W',
 'AUTO_HH',
 'AUTO_LAND',
 'OPP_LAND',
 'OPP_WATER',
 'OPP_TOT',
 'BEV_DICHTH',
 'WONINGEN',
 'P_WONT2000',
 'P_WONV2000',
 'woningwaarde',
 'P_KOOPWON',
 'P_HUURWON',
 'P_HUUROVVH',
 'P_HUURCORP',
 'P_HUKO_ONB',
 'P_LEEGSTAND',
 'P_HOOGBOUW',
 'Totaal (excl Overheid, onderwijs en zorg)',
 'A Landbouw, Bosbouw en Visserij',
 'B-F Nijverheid en Energie',
 'G+I Handel en Horeca',
 'H+J Vervoer, informatie en communicatie',
 'K-l FinanciÃ«le diensten, onroerend goed',
 'M-N Zakelijke dienstverlening',
 'R-U Cultuur, recreatie, overige diensten',
 'GEBOO_TOT',
 'P_GEBOO',
 'STERFTE_TOT',
 'P_STERFTE',
 'WWB_UIT',
 'P_WWB',
 'AF_ARTSPR',
 'AV3_ARTSPR',
 'AV_ARTSPO',
 'AF_ZIEKE',
 'AV20_ZIEKE',
 'AF_SUPERM',
 'AF_RESTAU',
 'AV3_SUPERM',
 'AV3_RESTAU',
 'AF_KDV',
 'AV3_KDV',
 'AF_ONDBAS',
 'AV3_ONDBAS',
 'AF_ONDMBO',
 'AV5_ONDMBO',
 'AF_ONDHV',
 'AV5_ONDHV',
 'AF_BIBLIO',
 'AF_BIOS',
 'AV10_BIOS',
 'AF_ZWEMB',
 'AF_OPRITH',
 'AO_UIT_TOT',
 'P_AO_UIT',
 'WW_UIT_TOT',
 'P_WW_UIT',
 'P_GAS_TOT',
 'P_GAS_APP',
 'P_GAS_HOE',
 'P_GAS_21K',
 'P_GAS_TUS',
 'P_GAS_VRY',
 'P_STADVERW',
 'P_ELEK_TOT',
 'P_ELEK_APP',
 'P_ELEK_HOE',
 'P_ELEK_21K',
 'P_ELEK_TUS',
 'P_ELEK_VRY',
 'AANT_INK2',
 'INK_ONTV2',
 'INK_INW2',
 'P_LAAGINKP',
 'P_HOOGINKP',
 'P_NIET_ACT2',
 'P_LAAGINKH',
 'P_HOOGINKH',
 'P_LKOOPKRH',
 'P_SOCMINH']

In [ ]:
# add column jaar to each data frame

for year in range(2004, 2025):
    df_name = f'df_{year}'
    if df_name in globals():  # Check if the dataframe exists
        globals()[df_name]['year'] = year

In [ ]:
print(df_2019['year'].head(10))

0    2019
1    2019
2    2019
3    2019
4    2019
5    2019
6    2019
7    2019
8    2019
9    2019
Name: year, dtype: int64

In [ ]:
# check various columns persence in data frames
def check_columns_presence(columns_to_check, start_year=2004, end_year=2024):
    column_presence = {col: [] for col in columns_to_check}  # Dictionary to store results

    for year in range(start_year, end_year + 1):
        df_name = f"df_{year}"
        if df_name in globals():  # Check if DataFrame exists
            df = globals()[df_name]  # Retrieve the DataFrame
            for col in columns_to_check:
                if col in df.columns:
                    column_presence[col].append(year)  # Store year if column exists

    # Print results
    for col, years in column_presence.items():
        if years:
            print(f"Column '{col}' exists in: {years}")
        else:
            print(f"Column '{col}' is NOT found in any DataFrame.")

# Example usage
check_columns_presence(["gm_naam","GM_NAAM",'GEM_NAAM', 'AANT_INW', 'a_inw', "WONINGEN", "a_woning","WOZ", 'woningwaarde', 'g_woz', "g_wozbag", 'RECS', "recs",'g_hhgro', 'GEM_HH_GR', 'BEV_DICHTH', \
                        'bev_dich', 'p_leegsw','AANTAL_HH', 'a_hh','P_EENP_HH', 'p_1p_hh', 'a_1p_hh',  'P_KOOPWON',  'p_koopw',  'P_HUURWON', 'p_huurw', \
                        "INK_ONTV", "INK_ONTV2", "g_ink_po", "year"])

Column 'gm_naam' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'GM_NAAM' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011]
Column 'GEM_NAAM' exists in: [2012]
Column 'AANT_INW' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'a_inw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'WONINGEN' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'a_woning' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'WOZ' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011]
Column 'woningwaarde' exists in: [2012]
Column 'g_woz' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019]
Column 'g_wozbag' exists in: [2020, 2021, 2022, 2023, 2024]
Column 'RECS' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'recs' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_hhgro' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'GEM_HH_GR' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'BEV_DICHTH' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'bev_dich' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'p_leegsw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'AANTAL_HH' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'a_hh' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_EENP_HH' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'p_1p_hh' exists in: [2013, 2014]
Column 'a_1p_hh' exists in: [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_KOOPWON' exists in: [2004, 2005, 2009, 2010, 2011, 2012]
Column 'p_koopw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_HUURWON' exists in: [2004, 2005, 2009, 2010, 2011, 2012]
Column 'p_huurw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'INK_ONTV' exists in: [2004, 2005, 2006, 2007]
Column 'INK_ONTV2' exists in: [2009, 2010, 2011, 2012]
Column 'g_ink_po' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'year' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [ ]:
#check if the sum of gemeente is equal to land in column recs

# Sum 'a_inv' where 'resc' == 'Gemeente' in df_1019
total_a_inw = df_2019.loc[df_2019['recs'] == 'Gemeente', 'a_inw'].sum()

# Print the result
print(f"Total sum of 'a_inw' where 'recs' is 'Gemeente': {total_a_inw}")

#result: they are equal

Total sum of 'a_inw' where 'recs' is 'Gemeente': 17282163

In [ ]:
# create column "p_1p_hh" from  "a_1p_hh" in df_2015 .....  df_2024   (number singel person households - percentage of single person households)
#df_2015["p_1p_hh"] = (df_2015["a_1p_hh"] / df_2015["a_hh"]) * 0.01

def calculate_p_1p_hh(start_year=2015, end_year=2024):
    for year in range(start_year, end_year + 1):
        df_name = f"df_{year}"
        if df_name in globals():
            df = globals()[df_name]
            df["p_1p_hh"] = (df["a_1p_hh"] / df["a_hh"]) * 100
        else:
            print(f"{df_name} not found.")

# Run the function
calculate_p_1p_hh()

In [ ]:
# Rename column aantal inwoners
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and "AANT_INW" in df.columns:
        df.rename(columns={"AANT_INW": "a_inw"}, inplace=True)

# Rename column woningen
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and "WONINGEN" in df.columns:
        df.rename(columns={"WONINGEN": "a_woning"}, inplace=True)

# Rename column woz
woz_variants = ["WOZ", "woningwaarde", "g_wozbag"]

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)

    if df is not None:
        for col in woz_variants:
            if col in df.columns:
                df.rename(columns={col: "g_woz"}, inplace=True)

# Rename column 'RECS'
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'RECS' in df.columns:
        df.rename(columns={'RECS': "recs"}, inplace=True)


# Rename column "Gemiddelde huishoudensgrootte"
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'GEM_HH_GR' in df.columns:
        df.rename(columns={'GEM_HH_GR': 'g_hhgro'}, inplace=True)

# Rename column "Bevolkingsdichtheid"
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'BEV_DICHTH' in df.columns:
        df.rename(columns={'BEV_DICHTH': 'bev_dich'}, inplace=True)


# Rename column Gemeentenaam
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and "GM_NAAM" in df.columns:
        df.rename(columns={"GM_NAAM": "gm_naam"}, inplace=True)

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and "GEM_NAAM" in df.columns:
        df.rename(columns={"GEM_NAAM": "gm_naam"}, inplace=True)

# Rename column aantal Huishoudens
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'AANTAL_HH' in df.columns:
        df.rename(columns={'AANTAL_HH': 'a_hh'}, inplace=True)


# Rename column percentage Eenpersoonshuishoudens
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_EENP_HH' in df.columns:
        df.rename(columns={'P_EENP_HH': 'p_1p_hh'}, inplace=True)


# Rename column P_KOOPWON
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_KOOPWON' in df.columns:
        df.rename(columns={'P_KOOPWON': 'p_koopw'}, inplace=True)


# Rename column P_HUURWON
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_HUURWON' in df.columns:
        df.rename(columns={'P_HUURWON': 'p_huurw'}, inplace=True)


# Rename column Gemiddeld inkomen "INK_ONTV", "INK_ONTV2", "g_ink_po"
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'INK_ONTV' in df.columns:
        df.rename(columns={'INK_ONTV': 'g_ink_po'}, inplace=True)

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'INK_ONTV2' in df.columns:
        df.rename(columns={'INK_ONTV2': 'g_ink_po'}, inplace=True)

In [ ]:
# check various columns persence in data frames
def check_columns_presence(columns_to_check, start_year=2004, end_year=2024):
    column_presence = {col: [] for col in columns_to_check}  # Dictionary to store results

    for year in range(start_year, end_year + 1):
        df_name = f"df_{year}"
        if df_name in globals():  # Check if DataFrame exists
            df = globals()[df_name]  # Retrieve the DataFrame
            for col in columns_to_check:
                if col in df.columns:
                    column_presence[col].append(year)  # Store year if column exists

    # Print results
    for col, years in column_presence.items():
        if years:
            print(f"Column '{col}' exists in: {years}")
        else:
            print(f"Column '{col}' is NOT found in any DataFrame.")

# Example usage
check_columns_presence(["gm_naam","GM_NAAM",'GEM_NAAM', 'AANT_INW', 'a_inw', "WONINGEN", "a_woning","WOZ", 'woningwaarde', 'g_woz', "g_wozbag", 'RECS', "recs",'g_hhgro', 'GEM_HH_GR', 'BEV_DICHTH', \
                        'bev_dich', 'p_leegsw', 'AANTAL_HH', 'a_hh','P_EENP_HH', 'p_1p_hh', 'a_1p_hh',  'P_KOOPWON',  'p_koopw',  'P_HUURWON', 'p_huurw', \
                        "INK_ONTV", "INK_ONTV2", "g_ink_po", "year"])

Column 'gm_naam' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'GM_NAAM' is NOT found in any DataFrame.
Column 'GEM_NAAM' is NOT found in any DataFrame.
Column 'AANT_INW' is NOT found in any DataFrame.
Column 'a_inw' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'WONINGEN' is NOT found in any DataFrame.
Column 'a_woning' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'WOZ' is NOT found in any DataFrame.
Column 'woningwaarde' is NOT found in any DataFrame.
Column 'g_woz' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_wozbag' is NOT found in any DataFrame.
Column 'RECS' is NOT found in any DataFrame.
Column 'recs' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_hhgro' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'GEM_HH_GR' is NOT found in any DataFrame.
Column 'BEV_DICHTH' is NOT found in any DataFrame.
Column 'bev_dich' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'p_leegsw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'AANTAL_HH' is NOT found in any DataFrame.
Column 'a_hh' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_EENP_HH' is NOT found in any DataFrame.
Column 'p_1p_hh' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'a_1p_hh' exists in: [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_KOOPWON' is NOT found in any DataFrame.
Column 'p_koopw' exists in: [2004, 2005, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_HUURWON' is NOT found in any DataFrame.
Column 'p_huurw' exists in: [2004, 2005, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'INK_ONTV' is NOT found in any DataFrame.
Column 'INK_ONTV2' is NOT found in any DataFrame.
Column 'g_ink_po' exists in: [2004, 2005, 2006, 2007, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'year' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [ ]:
# Desired columns
cols_to_keep = ["gm_naam","recs", "a_inw", "a_woning", "g_woz", "g_hhgro", "bev_dich", 'a_hh', 'p_1p_hh','p_koopw', 'p_huurw', 'g_ink_po','p_leegsw', "year"]

# Container for filtered dataframes
df_list = []

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)

    if df is not None:
        df = df.copy()  # to avoid modifying original
        df["year"] = year  # ensure the 'year' column exists
        # Only keep columns that are in the current df
        existing_cols = [col for col in cols_to_keep if col in df.columns]
        df_filtered = df[existing_cols]
        df_list.append(df_filtered)

# Concatenate all years into one dataframe
combined_df = pd.concat(df_list, ignore_index=True)

In [ ]:
combined_df.head(10)

,gm_naam,recs,a_inw,a_woning,g_woz,g_hhgro,bev_dich,a_hh,p_1p_hh,p_koopw,p_huurw,g_ink_po,year
0,NaN,NaN,16258030,6809580,134,"2,3",481,7049280,34,53,47,"17,7",2004
1,Appingedam,Gemeente,12420,5630,76,"2,2",521,5530,31,47,53,"16,2",2004
2,Appingedam,Wijk,12420,5630,76,"2,2",521,5530,31,47,53,"16,2",2004
3,Appingedam,Buurt,2440,1340,72,"1,9",2935,1300,47,41,59,"16,7",2004
4,Appingedam,Buurt,3240,1275,106,"2,5",2134,1280,18,66,34,"18,6",2004
5,Appingedam,Buurt,6330,2855,63,"2,2",2215,2790,31,38,62,"15,1",2004
6,Appingedam,Buurt,150,60,115,"2,6",27,60,12,91,9,x,2004
7,Appingedam,Buurt,110,45,121,"2,5",19,40,19,83,17,x,2004
8,Appingedam,Buurt,150,55,116,"2,4",20,60,19,75,25,x,2004
9,Bedum,Gemeente,10820,4160,101,"2,5",243,4170,26,70,30,"16,7",2004

In [ ]:
#calculates the percentage of missing (null) values for each column
null_percentage_df = combined_df.isnull().sum() / len(combined_df) * 100
null_percentage_df

gm_naam      0.002708
recs         0.002407
a_inw        0.000000
a_woning     0.000000
g_woz        0.000000
g_hhgro      0.000000
bev_dich     0.000000
a_hh         0.000000
p_1p_hh      1.670929
p_koopw     12.978730
p_huurw     12.978730
g_ink_po     4.348205
year         0.000000
dtype: float64

In [ ]:
#Fill all NaN values in combined_df with 0
combined_df = combined_df.fillna(0)

In [ ]:
#calculates the percentage of missing (null) values for each column
null_percentage_df = combined_df.isnull().sum() / len(combined_df) * 100
null_percentage_df

gm_naam     0.0
recs        0.0
a_inw       0.0
a_woning    0.0
g_woz       0.0
g_hhgro     0.0
bev_dich    0.0
a_hh        0.0
p_1p_hh     0.0
p_koopw     0.0
p_huurw     0.0
year        0.0
dtype: float64

In [ ]:
# Check if there are any negative values in the DataFrame
negative_values = (combined_df.select_dtypes(include=['number']) < 0).any().any()

# Print the result
if negative_values:
    print("There are negative values in the DataFrame.")
else:
    print("There are no negative values in the DataFrame.")

There are no negative values in the DataFrame.

In [ ]:
print(combined_df.dtypes)

gm_naam     object
recs        object
a_inw        int64
a_woning    object
g_woz       object
g_hhgro     object
bev_dich    object
a_hh        object
p_1p_hh     object
p_koopw     object
p_huurw     object
g_ink_po    object
year         int64
dtype: object

In [ ]:
print(combined_df[combined_df["year"] == 2024].head(10))

          gm_naam      recs     a_inw a_woning g_woz g_hhgro bev_dich  \
314080  Nederland      Land  17942942  8204049   379     2.1      533
314081  Groningen  Gemeente    243768   124258   300     1.7     1314
314082  Groningen      Wijk     24920    13809   279     1.2    10907
314083  Groningen     Buurt      4745     2532   297     1.2    12788
314084  Groningen     Buurt      6975     4017   275     1.2    12663
314085  Groningen     Buurt      4400     2740   252     1.3    16413
314086  Groningen     Buurt      1740     1060   276     1.2    17792
314087  Groningen     Buurt        10        0     .       2       52
314088  Groningen     Buurt      6575     3367   287     1.3    15118
314089  Groningen     Buurt         0        1     .       .        .

           a_hh    p_1p_hh p_koopw p_huurw g_ink_po  year
314080  8374404  39.890122      57      43        .  2024
314081   145764  60.888834      40      60        .  2024
314082    19890  81.372549      15      85        .  2024
314083     3910  83.248082      13      87        .  2024
314084     5715  82.677165      12      88        .  2024
314085     3510   80.19943      11      88        .  2024
314086     1410  80.851064      13      87        .  2024
314087        5        0.0       .       .        .  2024
314088     5025  80.298507      24      76        .  2024
314089        0        NaN       .       .        .  2024

In [ ]:
cols_to_convert = ["a_woning", "g_woz", "g_hhgro", "bev_dich", "a_hh", "p_1p_hh", "p_koopw", 'g_ink_po', "p_huurw"]

# creating new table
combofin_424 = combined_df.copy()

for col in cols_to_convert:
    if combined_df[col].dtype == "object":
        # Start with a fresh string version
        combofin_424[col] = combined_df[col].astype(str)

        # Replace commas with dots
        combofin_424[col] = combofin_424[col].str.replace(',', '.', regex=False)

        # Replace standalone "." with 0
        combofin_424[col] = combofin_424[col].replace(r'^\.$', '0', regex=True)

        # Remove trailing dot with no decimals (e.g., "47." â "47")
        combofin_424[col] = combofin_424[col].str.replace(r'^(\d+)\.$', r'\1', regex=True)

         # Remove trailing commas (e.g., "22.2," â "22.2")
        combofin_424[col] = combofin_424[col].str.replace(r',\s*$', '', regex=True)

        # Replace "x" with a placeholder (e.g., "0" or keep as NaN later)
        combofin_424[col] = combofin_424[col].replace(["x", "-", "X"], "0")

        # Convert to numeric
        combofin_424[col] = pd.to_numeric(combofin_424[col], errors='coerce')
    else:
        # If it's already numeric, just copy it over
        combofin_424[col] = combined_df[col]


# Check if the replacement and conversion worked
print(combofin_424[cols_to_convert].head())

   a_woning  g_woz  g_hhgro  bev_dich     a_hh  p_1p_hh  p_koopw  g_ink_po  \
0   6809580    134      2.3       481  7049280     34.0     53.0      17.7
1      5630     76      2.2       521     5530     31.0     47.0      16.2
2      5630     76      2.2       521     5530     31.0     47.0      16.2
3      1340     72      1.9      2935     1300     47.0     41.0      16.7
4      1275    106      2.5      2134     1280     18.0     66.0      18.6

   p_huurw
0     47.0
1     53.0
2     53.0
3     59.0
4     34.0

In [ ]:
#calculates the percentage of missing (null) values for each column
null_per_df = combofin_424.isnull().sum() / len(combofin_424) * 100
null_per_df

gm_naam     0.0
recs        0.0
a_inw       0.0
a_woning    0.0
g_woz       0.0
g_hhgro     0.0
bev_dich    0.0
a_hh        0.0
p_1p_hh     0.0
p_koopw     0.0
p_huurw     0.0
g_ink_po    0.0
year        0.0
dtype: float64

In [ ]:
combofin_424['g_ink_po'].value_counts(dropna=False, sort=False).sort_index()

g_ink_po
0.0      88779
5.6          1
5.9          1
6.3          1
6.5          1
         ...
170.4        1
172.3        1
177.0        1
184.0        1
NaN      14453
Name: count, Length: 1027, dtype: int64

In [ ]:
# combofin_424[combofin_424['g_ink_po'].isnull()]

Empty DataFrame
Columns: [gm_naam, recs, a_inw, a_woning, g_woz, g_hhgro, bev_dich, a_hh, p_1p_hh, p_koopw, p_huurw, g_ink_po, year]
Index: []

In [ ]:
#Fill all NaN values in combined_df with 0
combofin_424 = combofin_424.fillna(0)

In [ ]:
combofin_424['g_ink_po'].value_counts(dropna=False, sort=False).sort_index()

g_ink_po
0.0      103232
5.6           1
5.9           1
6.3           1
6.5           1
          ...
167.5         2
170.4         1
172.3         1
177.0         1
184.0         1
Name: count, Length: 1026, dtype: int64

In [ ]:
print(combofin_424.dtypes)

gm_naam      object
recs         object
a_inw         int64
a_woning      int64
g_woz         int64
g_hhgro     float64
bev_dich      int64
a_hh          int64
p_1p_hh     float64
p_koopw     float64
p_huurw     float64
g_ink_po    float64
year          int64
dtype: object

In [ ]:
print(combofin_424[combofin_424["year"] == 2024].head(5))

          gm_naam      recs     a_inw  a_woning  g_woz  g_hhgro  bev_dich  \
314080  Nederland      Land  17942942   8204049    379      2.1       533
314081  Groningen  Gemeente    243768    124258    300      1.7      1314
314082  Groningen      Wijk     24920     13809    279      1.2     10907
314083  Groningen     Buurt      4745      2532    297      1.2     12788
314084  Groningen     Buurt      6975      4017    275      1.2     12663

           a_hh    p_1p_hh  p_koopw  p_huurw  g_ink_po  year
314080  8374404  39.890122     57.0     43.0       0.0  2024
314081   145764  60.888834     40.0     60.0       0.0  2024
314082    19890  81.372549     15.0     85.0       0.0  2024
314083     3910  83.248082     13.0     87.0       0.0  2024
314084     5715  82.677165     12.0     88.0       0.0  2024

In [ ]:
combofin_424.to_csv("combofin_424", index=False)

# LOOKING FOR DIFFERENT RANDOM SYMBOLS IN THE TABLE

In [ ]:
print(combined_df[combined_df["year"] == 2005].head(20))

            gm_naam      recs     a_inw a_woning g_woz g_hhgro bev_dich  \
14203             0         0  16305530  6858720   202     2,3      483
14204    Appingedam  Gemeente     12440     5595   116     2,2      522
14205    Appingedam      Wijk     12440     5595   116     2,2      522
14206    Appingedam     Buurt      2520     1330   112     1,9     3000
14207    Appingedam     Buurt      3260     1305   159     2,5     2074
14208    Appingedam     Buurt      6250     2805    96     2,2     2193
14209    Appingedam     Buurt       150       60     x     2,6       28
14210    Appingedam     Buurt       100       45     x     2,4       18
14211    Appingedam     Buurt       150       55     x     2,4       20
14212         Bedum  Gemeente     10730     4150   163     2,5      241
14213         Bedum      Wijk     10730     4150   163     2,5      241
14214         Bedum     Buurt      8200     3200   155     2,5     2664
14215         Bedum     Buurt       430      135   264     3,2       20
14216         Bedum     Buurt      1000      390   185     2,5     1404
14217         Bedum     Buurt       140       45     x     2,8       19
14218         Bedum     Buurt       560      240   148     2,4     1008
14219         Bedum     Buurt       100       40     x     2,9       19
14220         Bedum     Buurt       150       60   217     2,6      631
14221         Bedum     Buurt       150       45     x     3,2       25
14222  Bellingwedde  Gemeente      9690     4095   155     2,3       89

          a_hh p_1p_hh p_koopw p_huurw  year
14203  7090960      35      55      45  2005
14204     5540      32      49      51  2005
14205     5540      32      49      51  2005
14206     1310      46      44      56  2005
14207     1300      20      68      32  2005
14208     2760      31      40      60  2005
14209       60      15      88      12  2005
14210       40      20      90       x  2005
14211       60      27      70      30  2005
14212     4160      26      70      30  2005
14213     4160      26      70      30  2005
14214     3200      26      68      32  2005
14215      140      15      88      12  2005
14216      410      26      74      26  2005
14217       50      17      85      15  2005
14218      240      30      74      26  2005
14219       40      17      86      14  2005
14220       60      18      90      10  2005
14221       50      15      86      14  2005
14222     4230      29      70      30  2005

In [ ]:
#print(combofin_424[combofin_424['p_koopw'].isna()])
#print(combofin_424[combofin_424['p_huurw'].isna()])

Empty DataFrame
Columns: [gm_naam, recs, a_inw, a_woning, g_woz, g_hhgro, bev_dich, a_hh, p_1p_hh, p_koopw, p_huurw, year]
Index: []
Empty DataFrame
Columns: [gm_naam, recs, a_inw, a_woning, g_woz, g_hhgro, bev_dich, a_hh, p_1p_hh, p_koopw, p_huurw, year]
Index: []

In [ ]:
# LOOKING FOR RANDOM SYMBOLS

# Mask for rows with NaN in specific columns
#nan_mask_koopw = combofin_424['p_koopw'].isna()
#nan_mask_huurw = combofin_424['p_huurw'].isna()

# Display the rows where NaNs appear in these columns in combofin_4_24
#print("Rows with NaN in 'p_koopw' column:")
#print(combofin_424[nan_mask_koopw])

#print("\nRows with NaN in 'p_huurw' column:")
#print(combofin_424[nan_mask_huurw])

Rows with NaN in 'p_koopw' column:
                   gm_naam recs  a_inw  a_woning  g_woz  g_hhgro  bev_dich  \
115672            Delfzijl    B     10         5      0      0.0         1
115673            Delfzijl    B      5         0      0      0.0         0
115700           Groningen    B     55        15      0      1.5       348
115712           Groningen    B     15         5      0      1.4         5
115731           Groningen    B     30        10      0      1.9        10
...                    ...  ...    ...       ...    ...      ...       ...
130344        Menameradiel    B     65        20      0      3.4        33
130373      Hollands Kroon    B     50        15      0      3.1        35
130390      Hollands Kroon    B     20        10      0      0.0        13
130479  Pijnacker-Nootdorp    B     15         5      0      0.0        27
130500         Montferland    B     25        10      0      2.1         1

        a_hh  p_1p_hh  p_koopw  p_huurw  year
115672     5      0.0      NaN      NaN  2012
115673     0      0.0      NaN      NaN  2012
115700    35     75.0      NaN      NaN  2012
115712    10     60.0      NaN      NaN  2012
115731    15     56.0      NaN      NaN  2012
...      ...      ...      ...      ...   ...
130344    20     11.0      NaN      NaN  2012
130373    15     12.0      NaN      NaN  2012
130390    10      0.0      NaN      NaN  2012
130479     5      0.0      NaN      NaN  2012
130500    15     23.0      NaN      NaN  2012

[1017 rows x 12 columns]

Rows with NaN in 'p_huurw' column:
                   gm_naam recs  a_inw  a_woning  g_woz  g_hhgro  bev_dich  \
115672            Delfzijl    B     10         5      0      0.0         1
115673            Delfzijl    B      5         0      0      0.0         0
115700           Groningen    B     55        15      0      1.5       348
115712           Groningen    B     15         5      0      1.4         5
115731           Groningen    B     30        10      0      1.9        10
...                    ...  ...    ...       ...    ...      ...       ...
130344        Menameradiel    B     65        20      0      3.4        33
130373      Hollands Kroon    B     50        15      0      3.1        35
130390      Hollands Kroon    B     20        10      0      0.0        13
130479  Pijnacker-Nootdorp    B     15         5      0      0.0        27
130500         Montferland    B     25        10      0      2.1         1

        a_hh  p_1p_hh  p_koopw  p_huurw  year
115672     5      0.0      NaN      NaN  2012
115673     0      0.0      NaN      NaN  2012
115700    35     75.0      NaN      NaN  2012
115712    10     60.0      NaN      NaN  2012
115731    15     56.0      NaN      NaN  2012
...      ...      ...      ...      ...   ...
130344    20     11.0      NaN      NaN  2012
130373    15     12.0      NaN      NaN  2012
130390    10      0.0      NaN      NaN  2012
130479     5      0.0      NaN      NaN  2012
130500    15     23.0      NaN      NaN  2012

[1017 rows x 12 columns]

In [ ]:
# Check the original values in combined_df that caused the NaNs
#print("Original values in 'combined_df' for 'p_koopw' that became NaN:")
#print(combined_df[nan_mask_koopw][['p_koopw']])

#print("\nOriginal values in 'combined_df' for 'p_huurw' that became NaN:")
#print(combined_df[nan_mask_huurw][['p_huurw']])

Original values in 'combined_df' for 'p_koopw' that became NaN:
       p_koopw
115672       X
115673       X
115700       X
115712       X
115731       X
...        ...
130344       X
130373       X
130390       X
130479       X
130500       X

[1017 rows x 1 columns]

Original values in 'combined_df' for 'p_huurw' that became NaN:
       p_huurw
115672       X
115673       X
115700       X
115712       X
115731       X
...        ...
130344       X
130373       X
130390       X
130479       X
130500       X

[1017 rows x 1 columns]

In [ ]:
print(f"Before conversion in column {col}:")
print(combofin_424[col].unique())

Before conversion in column p_huurw:
[ 47.  53.  59.  34.  62.   9.  17.  25.  30.  32.  15.  27.  26.  12.
  13.  33.  37.  19.  35.  48.   0.   5.  21.  44.  11.  40.   7.  20.
  22.  16.  23.  29.  24.  43.  50.  74.  41.  28.  39.  18.  61.  65.
  66.  68.  70.  63.  58.  38.  76.  85.  84.  71.  86.  96.  75.  94.
  95.  78.  49.  67.  97.  69.  52.  57.  31.  42.  83.  54. 100.  60.
  36.   2.  10.   8.  46.   6.  55.  80.  82.   3.  14.  45.  89.  93.
  81.  56.  51.  73.   1.  92.  79.  64.  77.  87.  90.  72.  99.  91.
   4.  88.  98.]

In [ ]:
# Check if there are any negative values in the DataFrame
negative_val = (combofin_df.select_dtypes(include=['number']) < 0).any().any()

# Print the result
if negative_val:
    print("There are negative values in the DataFrame.")
else:
    print("There are no negative values in the DataFrame.")

There are no negative values in the DataFrame.

## different check *ups*

In [ ]:
print(combined_df["year"].unique())
print(combined_df[combined_df["year"] == 2007])

[2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
 2018 2019 2020 2021 2022 2023 2024]
           gm_naam      recs     a_inw a_woning g_woz g_hhgro bev_dich  \
42762            0         0  16357990  6967045   217     2,2      485
42763   Appingedam  Gemeente     12190     5515   137     2,2      511
42764   Appingedam      Wijk     12190     5515   137     2,2      511
42765   Appingedam     Buurt      2520     1335   129     1,8     2994
42766   Appingedam     Buurt      3190     1310   176     2,4     2040
...            ...       ...       ...      ...   ...     ...      ...
57131  Menterwolde     Buurt      4520     1945   141     2,4     1944
57132  Menterwolde     Buurt        90       30     x     2,8      185
57133  Menterwolde     Buurt       130       45     x     2,7       36
57134  Menterwolde     Buurt        50       25     x     2,2       38
57135  Menterwolde     Buurt        60       25     x     2,7        5

          a_hh p_1p_hh  p_koopw p_huurw  year
42762  7190540      35      0.0       0  2007
42763     5440      32      0.0       0  2007
42764     5440      32      0.0       0  2007
42765     1330      48      0.0       0  2007
42766     1310      21      0.0       0  2007
...        ...     ...      ...     ...   ...
57131     1910      26      0.0       0  2007
57132       30      30      0.0       0  2007
57133       50      19      0.0       0  2007
57134       20      21      0.0       0  2007
57135       20      25      0.0       0  2007

[14374 rows x 12 columns]

In [ ]:
average_p_koopw_2008 = combined_df[
    (combined_df["year"] == 2008) & (combined_df["recs"] == "Gemeente")
]["p_koopw"].mean()

print(average_p_koopw_2008)

0.0

In [ ]:
cols_to_convert = ["a_woning", "g_woz", "g_hhgro", "bev_dich", "a_hh", "p_1p_hh", "p_huurw"]

for col in cols_to_convert:
    combined_df[col] = pd.to_numeric(combined_df[col], errors="coerce")

In [ ]:
average_p_koopw_2009 = combined_df[
    (combined_df["year"] == 2009) & (combined_df["recs"] == "Gemeente")
]["p_koopw"].mean()

print(average_p_koopw_2009)

64.03628117913833

In [ ]:
average_p_koopw_2004 = combined_df[
    (combined_df["year"] == 2004) & (combined_df["recs"] == "Gemeente")
]["p_koopw"].mean()

print(average_p_koopw_2004)

62.84265010351967

In [ ]:
print(combined_df[combined_df["year"] == 2024].head(10))

          gm_naam      recs     a_inw   a_woning  g_woz  g_hhgro  bev_dich  \
314080  Nederland      Land  17942942  8204049.0  379.0      0.0     533.0
314081  Groningen  Gemeente    243768   124258.0  300.0      0.0    1314.0
314082  Groningen      Wijk     24920    13809.0  279.0      0.0   10907.0
314083  Groningen     Buurt      4745     2532.0  297.0      0.0   12788.0
314084  Groningen     Buurt      6975     4017.0  275.0      0.0   12663.0
314085  Groningen     Buurt      4400     2740.0  252.0      0.0   16413.0
314086  Groningen     Buurt      1740     1060.0  276.0      0.0   17792.0
314087  Groningen     Buurt        10        0.0    0.0      0.0      52.0
314088  Groningen     Buurt      6575     3367.0  287.0      0.0   15118.0
314089  Groningen     Buurt         0        1.0    0.0      0.0       0.0

             a_hh   p_1p_hh  p_koopw  p_huurw  year
314080  8374404.0  0.003989     57.0     43.0  2024
314081   145764.0  0.006089     40.0     60.0  2024
314082    19890.0  0.008137     15.0     85.0  2024
314083     3910.0  0.008325     13.0     87.0  2024
314084     5715.0  0.008268     12.0     88.0  2024
314085     3510.0  0.008020     11.0     88.0  2024
314086     1410.0  0.008085     13.0     87.0  2024
314087        5.0  0.000000      0.0      0.0  2024
314088     5025.0  0.008030     24.0     76.0  2024
314089        0.0  0.000000      0.0      0.0  2024

In [ ]:
combined_df.shape

(332390, 12)

In [ ]:
# Types of values to take care of:
# str: '5,', '5.', '.', 'X' -> df['col'].value_counts(dropna=False, sort=False).sort_index()
# bool
# object




# pd.Series([0,0,1,2,3,4,5,6,7,7,7,7,7,77,'x', '.', 'xxx']).unique()